name: "Run linting"

on:
  push:
    branches: [ feat/eurosat ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run pre-commit
        run: uv run pre-commit run --all-files

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12

      - name: Install dependencies
        run: uv sync --dev --locked

      # 1) Ruff - formatting
      - name: Ruff format (check)
        run: uv run ruff format --check .

      # 2) Ruff - linting (check)
      - name: Ruff check
        run: |
          uv run ruff check .
          echo "If this fails locally run: uv run ruff check --fix ."

      # 3) Mypy - type checking
      - name: Mypy
        run: uv run mypy src
